@font-face{
    font-family: 'JosefinSans-Bold';
    src:url('../fonts/JosefinSans-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'JosefinSans-Regular';
    src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'JosefinSans-Light';
    src:url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'Icon';
    src: url('../fonts/IconMoon.ttf') format('truetype');
}