@media (min-width: 320px) {
    html {
        font-size: 59%;
        /**11.2px**/
    }
    .article {
        &__intro {
            color: #FFF;
            margin: 0 2% 3em 5%;
            height: 80vh;
            &__container {
                h3 {
                    padding-top: $spacing-elem;
                }
                p {
                    font-family: 'JosefinSans-Light';
                    width: 80%;
                    margin-bottom: 1em;
                    &:last-of-type {
                        margin-bottom: 2em;
                    }
                }
                .btn-2 {
                    color: #FFFFFF;
                    font-family: 'JosefinSans-Regular';
                    @include button($spacing-unit*1.5 19%, $yellow, rgba(0, 0, 0, 0), 5px);
                    width: 50%;
                    text-transform: uppercase;
                    //margin-left: 4px;
                    margin-top: $spacing-unit;
                    display: inline-block;
                    letter-spacing: 1px;
                }
                .btn-1 {
                    display: inline-block;
                    color: #000;
                    font-family: 'JosefinSans-Regular';
                    @include button($spacing-unit*1.5 19%, $yellow, $yellow, 5px);
                    width: 50%;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    //margin-top: $spacing-unit*3;
                }
            }
            #scrolldown {
                bottom: 80px;
                height: 100px;
                margin-left: -50px;
                position: absolute;
                left: 50%;
                text-align: center;
                width: 110px;
            }
            #scrolldown p {
                font: 700 0.7em/1em 'Avenir', sans-serif;
                animation-duration: 2s;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
                animation-name: 'scroll';
                color: #FFFFFF;
            }
            #scrolldown>p {
                text-transform: uppercase;
                text-indent: 3px;
            }
            .mouse {
                border: 2px solid #FFFFFF;
                border-radius: 13px;
                display: block;
                height: 46px;
                left: 50%;
                margin: 10px 0 0 -13px;
                position: absolute;
                width: 26px;
            }
            .mouse span {
                display: block;
                font-size: 1.5em;
                margin: 6px auto;
            }
            @keyframes scroll {
                0% {
                    opacity: 1;
                    transform: translateY(0px);
                }
                100% {
                    opacity: 0;
                    transform: translateY(10px);
                }
            }
        }
        &__objectif {
            padding: 0 2% 0 5%;
            background-color: #FFF;
            padding-bottom: 5em;
            h3 {
                padding-top: 1em;
                margin-bottom: 1em;
                span {
                    border-bottom: 10px solid $yellow;
                }
            }
            p {
                //width: 90%;
                &:not(:last-of-type) {
                    margin-bottom: 2em;
                }
            }
            .btn {
                color: #000;
                font-family: 'JosefinSans-Regular';
                @include button(1em 1em, $yellow, $yellow, 5px);
                font-size: 18px;
                max-width: 500px;
                text-transform: uppercase;
                display: block;
                margin: 2em auto 0;
            }
            &__container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                &__item {
                    margin-top: 6em;
                    flex-basis: 100%;
                    svg {
                        width: 70%;
                        margin: 0 auto;
                        padding: 2em;
                        border: 10px solid #dcdcdc;
                        display: block;
                        &:hover {
                            border: 10px solid $blue;
                            cursor: pointer;
                        }
                    }
                    h4 {
                        //@include rhythm($font-lvl1, ($font-lvl1*1.5));
                        display: block;
                        //margin: 0 auto;
                        //width: 100%;
                        text-align: center;
                        margin-bottom: 0.5em;
                        span {
                            border-bottom: 3px solid $blue;
                        }
                    }
                    p {
                        width: 95%;
                        text-align: center;
                    }
                }
            }
        }
        &__about {
            color: #FFF;
            margin: 0 2% 5em 5%;
            h3 {
                margin-top: 1em;
                margin-right: -5px;
                span {
                    border-bottom: 10px solid $yellow;
                }
                margin-bottom: 1em;
            }
            p {
                //width: 90%;
                &:not(:last-of-type) {
                    margin-bottom: 2em;
                }
            }
            .btn {
                color: #000;
                font-family: 'JosefinSans-Regular';
                @include button(1em 1em, $yellow, $yellow, 5px);
                font-size: 18px;
                max-width: 500px;
                text-transform: uppercase;
                display: block;
                margin: 2em auto 0;
            }
            ul {
                margin: $spacing-unit*3 0;
                margin-left: 10%;
                @include rhythm($font-content, $font-content*1.5);
                li {
                    list-style: circle;
                }
            }
            .floatRight {
                display: none;
            }
        }
        &__actu {
            padding: 0 2% 0 5%;
            background-color: #FFF;
            padding-bottom: 5em;
            h3 {
                padding-top: 1em;
                span {
                    border-bottom: 10px solid $yellow;
                }
                margin-bottom: 0em;
            }
            &__press,
            &__event,
            &__voyage {
                &__title {
                    margin-top: 2em;
                    margin-bottom: 0em;
                }
                .flex-container {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
                .flex-item {
                    flex-basis: 100%;
                    background: tomato;
                    padding: 5px;
                    margin-top: 10px;
                    line-height: 150px;
                    color: white;
                    font-weight: bold;
                    font-size: 3em;
                    text-align: center;
                }
            }
        }
    }
}

@media(min-width:400px) {
    .article {
        &__intro {
            h3 {
                font-size: 7.0625rem;
                line-height: 9.59375rem;
            }
            p {
                width: 100%;
                font-size: 2rem;
                line-height: 2.75rem;
            }
            #scrolldown {
                bottom: 140px;
            }
        }
        &__objectif {
            &__container {
                &__item {
                    margin: 6em auto 0;
                    flex-basis: 70%;
                }
            }
        }
    }
    h3:not(.title) {
        text-align: center;
    }
}

@media(min-width:500px) {
    .article {
        &__intro {
            &__container {
                p+p {
                    width: 480px;
                }
                .btn-1,
                .btn-2 {
                    width: 480px;
                    padding: 18px 0;
                    display: block;
                }
            }
        }
    }
}

@media(min-width: 600px) {
    .article {
        &__objectif {
            &__container {
                &__item {
                    flex-basis: 50%;
                }
            }
        }
        &__actu {
            &__press,
            &__event,
            &__voyage {
                .flex-container {
                    flex-direction: row;
                    justify-content: space-between;
                    .flex-item {
                        flex-basis: 45%;
                    }
                }
            }
        }
    }
}

@media(min-width: 700px) {
    .article {
        &__about {
            .floatLeft {
                .btn {
                    display: none;
                }
            }
            .floatRight {
                margin-top: 5em;
                display: block;
                text-align: center;
                .btn {
                    display: none;
                }
                img {}
                .btn {
                    color: #000;
                    font-family: 'JosefinSans-Regular';
                    @include button(1em 1em, $yellow, $yellow, 5px);
                    font-size: 18px;
                    max-width: 500px;
                    text-transform: uppercase;
                    display: block;
                    margin: 2em auto 0;
                }
            }
        }
    }
}

@media(min-width: 800px) {
    .article {
        &__objectif {
            p {
                width: 700px;
                margin: 0 auto;
            }
            &__container {
                &__item {
                    flex-basis: 40%;
                    p {
                        width: 100%;
                    }
                }
            }
        }
        &__about {
            .floatLeft p {
                width: 700px;
                margin: 0 auto;
            }
            .floatLeft ul {
                width: 700px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

@media(min-width: 900px) {
    .article {
        &__objectif {
            &__container {
                &__item {
                    // flex-basis: 30%;
                }
            }
        }
    }
}

@media(min-width: 1100px) {
    .article {
        &__actu {
            &__press,
            &__voyage,
            &__event {
                .flex-container {
                    .flex-item {
                        flex-basis: 21%;
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .article {
        &__intro {
            margin: 0 5% 3em 5%;
            &__container {
                margin-left: 50px;
                h3 {
                    padding-top: 100px;
                    @include rhythm($font-lvl3*2, ($font-lvl3*2));
                }
                p {
                    @include rhythm($font-content*1.5, $font-content*2);
                    margin-top: $spacing-unit;
                }
                p+p {
                    margin-top: $spacing-unit*6;
                    width: 600px;
                }
                .btn-1 {
                    display: inline-block;
                    color: #000;
                    @include button($spacing-unit*1.5 $spacing-elem*3, $yellow, $yellow, 5px);
                    width: 150px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                .btn-2 {
                    @include button($spacing-unit*1.5 100px, $yellow, rgba(0, 0, 0, 0), 5px);
                    width: 150px;
                    margin-left: 4px;
                    margin-top: $spacing-unit*3;
                    display: inline-block;
                    letter-spacing: 1px;
                }
            }
        }
        &__objectif,
        &__actu {
            padding: 0 5% 3em 5%;
        }
        &__about {
            margin: 0 5% 3em 5%;
        }
    }
}

@media (min-width: 1500px) {
    .article {
        &__objectif {
            &__container {
                &__item {
                    flex-basis: 20%;
                }
            }
        }
    }
}