@media (min-width:1500px) {
    .article {
        section:first-of-type {
            //background-color: rgba(0, 0, 0, 0.5);
        }
        &__intro {
            position: relative;
            &__container {
                margin-left: 50px;
                h3 {
                    padding-top: 100px;
                    @include rhythm($font-lvl3*2, ($font-lvl3*2));
                }
                p {
                    @include rhythm($font-content*1.5, $font-content*2);
                    font-family: 'JosefinSans-Light';
                    margin-top: $spacing-unit;
                }
                p+p {
                    margin-top: $spacing-unit*6;
                    width: 600px;
                }
                .btn-2 {
                    color: #FFFFFF;
                    font-family: 'JosefinSans-Regular';
                    @include button($spacing-unit*1.5 100px, $yellow, rgba(0, 0, 0, 0), 5px);
                    width: 150px;
                    text-transform: uppercase;
                    margin-left: 4px;
                    margin-top: $spacing-unit*3;
                    display: inline-block;
                    letter-spacing: 1px;
                }
                .btn-1 {
                    display: inline-block;
                    color: #000;
                    font-family: 'JosefinSans-Regular';
                    @include button($spacing-unit*1.5 $spacing-elem*3, $yellow, $yellow, 5px);
                    width: 150px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    //margin-top: $spacing-unit*3;
                }
            }
            #scrolldown {
                bottom: 20px;
                height: 100px;
                margin-left: -50px;
                position: absolute;
                left: 50%;
                text-align: center;
                width: 110px;
            }
            #scrolldown p {
                font: 700 0.7em/1em 'Avenir', sans-serif;
                animation-duration: 2s;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
                animation-name: 'scroll';
                color: #FFFFFF;
            }
            #scrolldown>p {
                text-transform: uppercase;
                text-indent: 3px;
            }
            .mouse {
                border: 2px solid #FFFFFF;
                border-radius: 13px;
                display: block;
                height: 46px;
                left: 50%;
                margin: 10px 0 0 -13px;
                position: absolute;
                width: 26px;
            }
            .mouse span {
                display: block;
                font-size: 1.5em;
                margin: 6px auto;
            }
            @keyframes scroll {
                0% {
                    opacity: 1;
                    transform: translateY(0px);
                }
                100% {
                    opacity: 0;
                    transform: translateY(10px);
                }
            }
        }
        &__objectif {
            background-color: $base-bcg-color;
            color: #000000;
            h3 {
                text-align: center;
                margin-top: $spacing-elem;
                margin-bottom: $spacing-unit*3;
                span {
                    border-bottom: 10px solid $yellow;
                }
            }
            p {
                width: 700px;
                margin-right: auto;
                margin-left: auto;
            }
            &__container {
                //text-align: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin: $spacing-elem 0;
                &__item {
                    //display: inline-block;
                    flex-basis: 25%;
                    display: flex;
                    flex-direction: column;
                    svg {
                        width: 50%;
                        padding: $spacing-unit*2;
                        border: 10px solid #dcdcdc;
                        display: block;
                        margin: 0 auto;
                        &:hover {
                            border: 10px solid $blue;
                            cursor: pointer;
                        }
                    }
                    h4 {
                        @include rhythm($font-lvl1, ($font-lvl1*1.5));
                        //display: inline-block;
                        border-bottom: 3px solid $blue;
                        margin: 0 auto $spacing-unit*2;
                    }
                    p {
                        width: 90%;
                        text-align: center;
                    }
                }
            }
        }
        &__about {
            //background-color: rgba(0, 0, 0, 0.5);
            //padding-left: 10%;
            //float: left;
            //width: calc(100% -10%- 1em);
            //height: 1200px;
            &:before {
                content: " ";
                display: table;
            }
            &:after {
                content: " ";
                display: table;
                clear: both;
            }
            h3 {
                text-align: center;
                margin: $spacing-elem 0 0;
                margin-bottom: $spacing-unit*3;
                span {
                    border-bottom: 10px solid $yellow;
                }
            }
            .floatLeft {
                float: left;
                width: 57%;
                margin-left: $spacing-elem;
                p {
                    width: 720px;
                    &:first-of-type {
                        margin-top: 3px;
                    }
                    &:last-of-type {
                        margin-bottom: $spacing-elem;
                    }
                }
                ul {
                    margin: $spacing-unit*3 0;
                    margin-left: 100px;
                    @include rhythm($font-content, $font-content*1.5);
                    li {
                        list-style: circle;
                    }
                }
            }
            .floatRight {
                float: left;
                margin-top: 200px;
                img {
                    //float: right;
                    //width:40% ;
                }
            }
        }
        &__actu {
            background-color: $base-bcg-color;
            color: #000000;
            h3#target-4 {
                text-align: center;
                margin-top: $spacing-elem;
                margin-bottom: $spacing-unit*3;
                span {
                    border-bottom: 10px solid $yellow;
                }
            }
            &__press,
            &__event,
            &__voyage {
                &__title {
                    margin-top: $spacing-elem*2;
                    margin-bottom: $spacing-unit*3;
                }
                .flex-container {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
                .flex-item {
                    background: tomato;
                    padding: 5px;
                    flex-basis: 15%;
                    //width: 30%;
                    height: 150px;
                    margin-top: 10px;
                    line-height: 150px;
                    color: white;
                    font-weight: bold;
                    font-size: 3em;
                    text-align: center;
                }
            }
        }
    }
}